@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .header-menu-item {
    @apply mx-8 font-semibold border-2 py-2 px-4 rounded transition-all hover:bg-indigo-500 hover:border-indigo-700;
  }
  .slider-Item {
    @apply bg-blue-500 flex items-center justify-center flex-col;
  }
}

p.text-lg {
  font-family: "Yomogi";
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #333;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
